<web-app version="3.0">
    <servlet>
        <servlet-name>NoteServlet</servlet-name>
        <servlet-class>NoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoteServlet</servlet-name>
        <url-pattern>/notes</url-pattern>
    </servlet-mapping>
</web-app>
